# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnpm-store
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# Local development
.env
.env*.local

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Ignore custom user-uploaded icons
/public/icons/*
# /config/services.yaml
# /config/services.yaml
# Scripts
publish.sh
git-ready.sh
build.sh
build-go.sh

